.skill .card {
  position: relative;
}
.skill .card:hover .card2 {
  bottom: 90px;
}
.skill .card .card2 {
  position: absolute;
  bottom: -180px;
  left: 0;
  right: 0;
  transition: bottom 0.4s ease-in-out;
}
.skill .card .card2 .rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -10;
}
.skill .card .card2 .rain .drop {
  position: absolute;
  bottom: 100%;
  width: 2px;
  height: 15px;
  background: rgba(255, 255, 255, 0.5);
  animation: fall linear infinite;
}
.skill .card .card2 .rain .drop:nth-child(1) {
  left: 3%;
  animation-duration: 1689ms;
  animation-delay: 188ms;
}
.skill .card .card2 .rain .drop:nth-child(2) {
  left: 63%;
  animation-duration: 1275ms;
  animation-delay: 182ms;
}
.skill .card .card2 .rain .drop:nth-child(3) {
  left: 60%;
  animation-duration: 1705ms;
  animation-delay: 507ms;
}
.skill .card .card2 .rain .drop:nth-child(4) {
  left: 30%;
  animation-duration: 1376ms;
  animation-delay: 1096ms;
}
.skill .card .card2 .rain .drop:nth-child(5) {
  left: 88%;
  animation-duration: 1770ms;
  animation-delay: 579ms;
}
.skill .card .card2 .rain .drop:nth-child(6) {
  left: 17%;
  animation-duration: 1278ms;
  animation-delay: 185ms;
}
.skill .card .card2 .rain .drop:nth-child(7) {
  left: 13%;
  animation-duration: 1514ms;
  animation-delay: 430ms;
}
.skill .card .card2 .rain .drop:nth-child(8) {
  left: 50%;
  animation-duration: 1203ms;
  animation-delay: 993ms;
}
.skill .card .card2 .rain .drop:nth-child(9) {
  left: 40%;
  animation-duration: 1680ms;
  animation-delay: 136ms;
}
.skill .card .card2 .rain .drop:nth-child(10) {
  left: 25%;
  animation-duration: 1684ms;
  animation-delay: 1027ms;
}
.skill .card .card2 .rain .drop:nth-child(11) {
  left: 34%;
  animation-duration: 1283ms;
  animation-delay: 772ms;
}
.skill .card .card2 .rain .drop:nth-child(12) {
  left: 2%;
  animation-duration: 1303ms;
  animation-delay: 1449ms;
}
.skill .card .card2 .rain .drop:nth-child(13) {
  left: 26%;
  animation-duration: 1332ms;
  animation-delay: 239ms;
}
.skill .card .card2 .rain .drop:nth-child(14) {
  left: 36%;
  animation-duration: 1772ms;
  animation-delay: 698ms;
}
.skill .card .card2 .rain .drop:nth-child(15) {
  left: 39%;
  animation-duration: 1771ms;
  animation-delay: 1039ms;
}
.skill .card .card2 .rain .drop:nth-child(16) {
  left: 23%;
  animation-duration: 1504ms;
  animation-delay: 1846ms;
}
.skill .card .card2 .rain .drop:nth-child(17) {
  left: 14%;
  animation-duration: 1796ms;
  animation-delay: 419ms;
}
.skill .card .card2 .rain .drop:nth-child(18) {
  left: 32%;
  animation-duration: 1937ms;
  animation-delay: 658ms;
}
.skill .card .card2 .rain .drop:nth-child(19) {
  left: 82%;
  animation-duration: 1309ms;
  animation-delay: 25ms;
}
.skill .card .card2 .rain .drop:nth-child(20) {
  left: 24%;
  animation-duration: 1200ms;
  animation-delay: 873ms;
}
.skill .card .card2 .rain .drop:nth-child(21) {
  left: 85%;
  animation-duration: 1666ms;
  animation-delay: 776ms;
}
.skill .card .card2 .rain .drop:nth-child(22) {
  left: 33%;
  animation-duration: 1039ms;
  animation-delay: 1305ms;
}
.skill .card .card2 .rain .drop:nth-child(23) {
  left: 8%;
  animation-duration: 1788ms;
  animation-delay: 1678ms;
}
.skill .card .card2 .rain .drop:nth-child(24) {
  left: 93%;
  animation-duration: 1346ms;
  animation-delay: 85ms;
}
.skill .card .card2 .rain .drop:nth-child(25) {
  left: 92%;
  animation-duration: 1907ms;
  animation-delay: 579ms;
}
.skill .card .card2 .rain .drop:nth-child(26) {
  left: 41%;
  animation-duration: 1204ms;
  animation-delay: 1803ms;
}
.skill .card .card2 .rain .drop:nth-child(27) {
  left: 31%;
  animation-duration: 1712ms;
  animation-delay: 355ms;
}
.skill .card .card2 .rain .drop:nth-child(28) {
  left: 97%;
  animation-duration: 1773ms;
  animation-delay: 477ms;
}
.skill .card .card2 .rain .drop:nth-child(29) {
  left: 56%;
  animation-duration: 1532ms;
  animation-delay: 1475ms;
}
.skill .card .card2 .rain .drop:nth-child(30) {
  left: 19%;
  animation-duration: 1949ms;
  animation-delay: 1588ms;
}
@keyframes fall {
  to {
    transform: translateY(220px);
  }
}
@keyframes fallIcon {
  0% {
    top: -10%;
    opacity: 0;
    transform: scale(0.8) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
    transform: scale(1.2) rotate(360deg);
  }
}/*# sourceMappingURL=experience.css.map */